{% extends 'Home/base.html' %}
{% load static %}
{% block body %}
<div class="page-wrapper">
  <div class="content container-fluid">
    <div class="page-header">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="page-title">Ajouter un Jour Férié</h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'holiday_list' %}">Jours Fériés</a></li>
            <li class="breadcrumb-item active">Ajouter</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <form method="POST">
              {% csrf_token %}
              <div class="row">
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label>Nom du jour férié</label>
                    <input type="text" name="name" class="form-control" required>
                  </div>
                </div>
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label>Date</label>
                    <input type="date" name="date" class="form-control" required>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group">
                    <label>Description (optionnel)</label>
                    <textarea name="description" class="form-control" rows="3"></textarea>
                  </div>
                </div>
                <div class="col-12">
                  <button type="submit" class="btn btn-primary">Enregistrer</button>
                  <a href="{% url 'holiday_list' %}" class="btn btn-secondary ml-2">Annuler</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
